* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

#check {
    display: none;
}

nav .icon {
    position: absolute;
    display: none;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 200;
}

nav .icon .line {
    height: 3px;
    width: 30px;
    border-radius: 3px;
    margin: 5px;
    background-color: white;
    transition: .4s;
}

.header {
    height: 100vh;
    background: conic-gradient(rgba(77, 182, 192, .51), rgb(77, 187, 192), rgb(42, 82, 83));
}

nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: .5rem 10%;
    height: 15vh;
    position: fixed;
    z-index: 10;
}

nav img {
    position: relative;
    width: 15%;
    height: 12vh;
    border-radius: 50%;
    border: 2px solid white;
}

nav ul {
    width: 70%;
    padding: 0 5rem;
    position: relative;
    top: 45%;
    transform: translateY(-10%);
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    list-style: none;
    font-size: 1rem;
    font-weight: 500;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: #e3ad6f;
    transition: all .3s ease-in-out;
}

nav ul li.active a {
    color: #e3ad6f;
    transition: .3 ease color;
}

.contact {
    display: none;
}

nav div button {
    font-family: Poppins, sans-serif;
    height: 2.8rem;
    width: 7.5rem;
    font-size: .9rem;
    font-weight: 600;
    color: black;
    background: #e3ad6f;
    border: none;
    border-radius: .2rem;
    cursor: pointer;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 1px 1px 1px #1d1d1d;
}

nav div button:hover {
    background: #f1c592;
}

.navback {
    background-color: rgb(42, 82, 83);
    z-index: 6;
    transition: all .5s ease-in-out;
}

.content {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
}

.content .text {
    position: relative;
    top: 32%;
    transform: translate(0, 32%);
    float: left;
    width: 50%;
}

.content .text h1 {
    font-size: 4.5rem;
    color: white;
    line-height: 4rem;
}

.content .text h1 span {
    font-size: 5.5rem;
    color: #e3ad6f;
    text-shadow: 2px 2px 2px black;
}

.content .text p {
    font-family: 'Pacifico', cursive;
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: .1rem;
    color: white;
}

.content .text p span {
    color: #7c1515;
}

.text p #homey {
    font-size: 2.5rem;
    font-weight: 600;
}

.content .image {
    position: relative;
    top: 5%;
    transform: translate(0, 5%);
    float: right;
    width: 50%;
}

.text .home-button {
    margin-top: 2rem;
}

.home-button button {
    height: 2.8rem;
    width: 8rem;
    font-size: .9rem;
    font-weight: 600;
    color: black;
    background: #e3ad6f;
    border: none;
    border-radius: .2rem;
    cursor: pointer;
}

.home-button #first-button {
    margin-right: 1rem;
}

.home-button #first-button button {
    font-family: Poppins, sans-serif;
    box-shadow: 1px 1px 1px #1d1d1d;
}

.home-button #first-button button:hover {
    background: #f1c592;
}

.home-button #second-button button {
    font-family: Poppins, sans-serif;
    border: 2px solid #e3ad6f;
    background: transparent;
    color: white;
    box-shadow: 1px 1px 1px #1d1d1d;
}

.home-button #second-button button:hover {
    background: #e3ad6f;
}

.image {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image::before {
    content: "";
    background-image: url('../images/bg-img-head.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    filter: invert(9%) sepia(95%) saturate(3670%) hue-rotate(2deg) brightness(94%) contrast(119%);
    opacity: .125;
    z-index: -1;
}

.image img {
    height: 100vh;
    width: 100%;
    z-index: 5;
}

#my-btn {
    position: fixed;
    bottom: 8%;
    right: 3.4%;
    height: 2.5rem;
    font-size: 1.2rem;
    padding: .7rem;
    border: none;
    background-color: rgb(42, 82, 83);
    color: white;
    cursor: pointer;
    display: none;
}

#my-btn:hover {
    opacity: .8;
}

.about-us {
    padding-top: 6rem;
    padding-bottom: 10rem;
    margin-bottom: 5rem;
    position: relative;
    align-items: center;
    justify-content: center;
}

.about-us h2 {
    text-align: center;
    text-transform: uppercase;
}

.about-us .line {
    width: 7%;
    margin: auto;
    height: .1rem;
    background-color: #e3ad6f;
    margin-bottom: 2rem;
}

.about-us p {
    width: 70%;
    margin: auto;
    text-align: justify;
}

.about-us p span {
    font-weight: 600;
    color: #20ddea;
}

.essence {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
    padding: 0 5%;
}

.essence .rep {
    position: relative;
    width: 26%;
    cursor: pointer;
    /* border: 1px solid black; */
}

.essence .rep img {
    width: 100%;
    height: 12rem;
    position: relative;
    transition: transform .2s;
}

.essence .rep img:hover {
    transform: scale(1.2);
}

.essence .rep .text {
    position: absolute;
    padding-bottom: 2rem;
    width: 90%;
    height: auto;
    transform: translate(5.6%, -25%);
    background-color: #ffffff;
}

.rep .text .div1 {
    background-color: #7c1515;
    height: .5rem;
}

.rep .text .div2 {
    background-color: #e3ad6f;
    height: .5rem;
}

.rep .text .div3 {
    background-color: #20ddea;
    height: .5rem;
}

.rep .text h3 {
    text-align: center;
    padding: 1rem 0;
}

.essence .rep .text p {
    font-size: .95rem;
    font-weight: 400;
    line-height: 1.4rem;
    text-align: justify;
}

#vision:hover {
    background-color: #7c1515;
    color: #ffffff;
}

#mission:hover {
    background-color: #e3ad6f;
    color: #7c1515;
}

#values:hover {
    background-color: #20ddea;
}

.service {
    padding: 6rem 0;
    background: linear-gradient(rgba(0, 0, 0, .88), rgba(0, 0, 0, .88)), url('../images/services-bg-img.png') center no-repeat fixed;
    background-size: cover;
    /* height: 100vh; */
}

.service h2 {
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.service .line {
    width: 9%;
    margin: auto;
    height: .1rem;
    background-color: #e3ad6f;
    margin-bottom: 2rem;
}

.service p {
    color: #ffffff;
    text-align: center;
    padding: 0 .5rem;
}

.service .cards {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: 40vh 40vh;
    gap: 3rem;
    margin: 2rem;
    justify-content: center;
}

.service .card {
    position: relative;
    justify-content: center;
    align-items: center;
    box-shadow: inset #202020 2px 2px 3px 1px, inset #dddbdb -2px -2px 3px 1px;
}

.card img {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 20%);
    width: 60%;
    height: 20vh;
    margin: auto;
    padding: 1rem 0;

}

.card h4 {
    position: absolute;
    text-align: center;
    top: 80%;
    transform: translate(0, -80%);
    width: 100%;
    margin: auto;
    font-size: 1.2rem;

}

#consult {
    background: #ebc5c5;
    color: #7c1515;
}

#pediatric {
    background: #ffffff;
}

#geriatry {
    background: #e1c39f;
    color: #0d2d6e;
}

#wellness {
    background: #bbf1c9;
    color: #9a10a6;
}

#healthy {
    background: #f0e064;
    color: #067565;
}

#online {
    background: #a3cfe7;
    color: #d79c06;
}

.app {
    padding: 6rem 7rem;
}

.app h2 {
    text-align: center;
    text-transform: uppercase;
}

.app .line {
    width: 28%;
    margin: auto;
    height: .1rem;
    background-color: #e3ad6f;
    margin-bottom: 2rem;
}

.app p {
    width: 80%;
    margin: auto;
    margin-bottom: 1rem;
    text-align: center;
}

.contact-us {
    padding: 6rem 7rem;
    background: linear-gradient(rgba(0, 0, 0, .95), rgba(0, 0, 0, .5));
    color: #ffffff;
}

.contact-us h2 {
    text-align: center;
    text-transform: uppercase;
}

.contact-us .line {
    width: 15%;
    margin: auto;
    height: .1rem;
    background-color: #e3ad6f;
    margin-bottom: 2rem;
}

.contact-info {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
    padding: 5% 0;
}

.contact-info .contact-text {
    width: 50%
}

.contact-text h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.contact-text p {
    text-align: justify;
}

.trad {
    display: grid;
    justify-content: space-evenly;
    margin-top: 4rem;
}

.trad i {
    font-size: 1.5rem;
    margin: .3rem;
}

.trad a {
    text-decoration: none;
}

.trad p {
    font-size: 1rem;
    font-weight: 200;
    font-family: Poppins, sans-serif;
    transform: translateY(-115%);
    margin-left: 2.5rem;
    color: white;
    text-decoration: none;
}

.socials {
    display: flex;
    justify-content: space-evenly;
    padding: 5% 0;
}

.socials img {
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.contact-info .contact-form {
    width: 40%;
    border: 3px solid #20ddea;
    border-radius: 3px;
    margin: auto;
    padding: 1.5rem;
    background: #ffffff;
    color: #000000;
}

.contact-form h2 {
    margin-bottom: 1rem;
    color: #7c1515;
}

.contact-form label {
    font-size: .8rem;
    font-weight: 600;
}

.contact-form input {
    width: 100%;
    height: 2.5rem;
    background: #f4f4f4;
    border: none;
    border-radius: 3px;
}

.contact-form textarea {
    width: 100%;
    background: #f4f4f4;
    border: none;
    border-radius: 3px;
}

.contact-form button {
    font-family: Poppins, sans-serif;
    width: 100%;
    height: 2.5rem;
    font-size: .9rem;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    background: #e3ad6f;
    cursor: pointer;
}

.contact-form button:hover {
    background: #f1c592;
}

footer {
    background-color: rgb(42, 82, 83);
    height: 3rem;
    color: white;
    text-align: center;
    padding-top: .7rem;
    font-weight: 200;
    text-transform: uppercase;
}